/target


#Added by cargo
#
#already existing elements were commented out

#/target
Cargo.lock

.vscode/
.idea/
bindings/python/bincraft.egg-info
bindings/python/build
bindings/python/dist

__pycache__/

# so should never be uploaded
*.so

# sla files should be ignored and not uploaded to github
sla/
*.sla