logs
*.log

pids
*.pid
*.seed

lib-cov
coverage
.grunt
.lock-wscript

build/Release
.eslintcache

node_modules
.DS_Store
flow-typed/npm/*
!flow-typed/npm/module_vx.x.x.js

# App packaged
release
app/main.prod.js
app/main.prod.js.map
app/renderer.prod.js
app/renderer.prod.js.map
app/style.css
app/style.css.map
dist
dll
main.js
main.js.map

.idea
npm-debug.log.*

native/target
native/index.node
native/artifacts.json
**/*~
**/node_modules
**/.DS_Store
build